backend/zenv
backend/media
dashboard-flask/zenv
dashboard-flask/node_modules
dashboard/node_modules
backend/.env
dashboard-flask/.env
backend/alembic.ini
**/__pycache__/
*.py[cod]
*$py.class
backend/*.egg-info/
dashboard/dist
dashboard/*.tsbuildinfo
dashboard/coverage
.vscode/