{{define "content"}}

  <!-- component -->
<div class="h-full bg-gray-100 dark:bg-gray-900 flex justify-center items-center sm:py-12">
   <div class="flex-col justify-center items-center shadow-lg shadow-gray-400 dark:shadow-gray-700 rounded-lg bg-white dark:bg-gray-900 p-4 sm:p-8 w-[480px] sm:max-w-[480px] lg:w-full md:max-w-md xl:max-w-xl">
     <div class="flex flex-shrink items-center justify-center my-4 sm:my-12">
         <div class="w-3/4">
            {{template "LogoSVG"}}
         </div>
     </div>
    
   </div>  
 
   
 </div>
{{ end }}